<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content= "width=device-width, initial-scale=1.0">
	<title>Digital Agency</title>
	<link href="https://fonts.googleapis.com/css?family=Overpass|Slabo+27px&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body>
	<section class="init">
		<div id="drop" class="drop">
			<div class="close" id="close">
					<img id="close-tag" src="../static/svg/apps.svg">
				</div>
			<div class="list container-fluid">
				<div class="row">
					<div class="col-6">
						<a href="#container">Our Services</a>
					</div>
					<div class="col-6">
						<a href="#pricing">What we Do</a>
					</div>
					<div class="col-6">
						<a href="#contact">Contact Us</a>
					</div>
					<div class="col-6">
						<a href="#contact">Case Study</a>
					</div>
				</div>
			</div>
		</div>
		<header class="container-fluid start">
			<nav class="nav">
				<div class="logo"><h2>Cureator</h2></div>
				<div class="icon">
					<img id="tag" src="../static/svg/apps.svg">
				</div>
				<ul>
					<li><a href="#container">Our Services</a></li>
					<li><a href="#pricing">What we Do</a></li>
					<li><a href="#contact">Contact Us</a></li>
					<li><a href="#contact">Case Study</a></li>
				</ul>
			</nav>
			<div class="row call h-100 align-items-center">
				<div class="col-lg-1 d-none d-sm-block"></div>
				<div class="image col-lg-5 d-none d-sm-block">
				<img src="../static/svg/socials.svg">
			</div>
			<div class="explana col-lg-4">
				<h1>Automate your Digital Marketing with Us.</h1>
				<p>We help Business owners find potential customers online using the biggest social media platforms <strong>(FB, IG, Messenger and Twitter)</strong> to advertise their Product/Service.</p>
				<div id="button" class="text-left">
				<a class="btn cta" href="#">
					Get Started
				</a>
				</div>
				<div class="col-lg-2 d-none d-sm-block"></div>
			</div>
		</div>
		</header>

	</section>
	<section class="content container">
		<div class="row ini">
			<div class="col-12 head-text">
				<h3>Our Services</h3>
				<hr>
			</div>
			<div class="col-sm-4">
				<div class="work">
					<img src="../static/svg/cog.svg">
					<h5>Lead Generation</h5>
					<p>We generate Leads that are super qualified and
					leave the closing for you</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="work">
					<img src="../static/svg/apps.svg">
					<h5>Retargeting</h5>
					<p>
						We help setup a followup campaign to customers that did not buy from you <strong>(but saw the advert)</strong> convincing them with reviews and testimonials.
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="work">
					<img src="../static/svg/mail-open.svg">
					<h5>Email Marketing</h5>
					<p>
						We Handle your Email Marketing Campaigns,
						after getting the emails from leads we generate <strong>(on complete autoresponder)</strong>
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="work">
					<img src="../static/svg/funnel.svg">
					<h5>Funnel Setup</h5>
					<p>
						Create a step by step automated campaign that walks your potential customer to buy from you while tracking the whole process.<strong>(on complete autoresponder)</strong>
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="work">
					<img src="../static/svg/cart.svg">
					<h5>Sales Process</h5>
					<p>
						We help  you setup a media buying campaign to smoothen your sales process and put it on complete automation.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="img-text container-fluid">
		<div class="row text-1">
			<div class="col-lg-2"></div>
			<div class="col-lg-4 bg-image">
				<img src="../static/svg/resume.svg">
			</div>
			<div class="col-lg-4">
				<div class="text">
				<h2>Experienced Digital Marketers to Walk you through</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nulla augue, cursus non nisl non, condimentum imperdiet lorem. Suspendisse feugiat, nulla vitae suscipit porttitor, lacus dolor scelerisque justo, quis consectetur magna massa molestie lacus. In enim ex, vulputate et ultricies suscipit, malesuada eu justo. Quisque vehicula mauris diam, posuere vulputate sapien aliquet at. Curabitur sodales pellentesque lorem, id semper odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
				</p>
				<a class="btn cti" href="#">
					Get Started
				</a>
			</div>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<div class="row text-2">
			<div class="col-lg-2"></div>

			<div class="col-lg-4">
				<div class="text">
				<h2>Optimized Sales and Funnels using Latest Technologies</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nulla augue, cursus non nisl non, condimentum imperdiet lorem. Suspendisse feugiat, nulla vitae suscipit porttitor, lacus dolor scelerisque justo, quis consectetur magna massa molestie lacus. In enim ex, vulputate et ultricies suscipit, malesuada eu justo. Quisque vehicula mauris diam, posuere vulputate sapien aliquet at. Curabitur sodales pellentesque lorem, id semper odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec enim risus, feugiat et
				</p>
				<a class="btn cti" href="#">
					Get Started
				</a>
			</div>
			</div>
			<div class="col-lg-4 bg-image">
				<img src="../static/svg/plan.svg">
			</div>
			<div class="col-lg-2"></div>
		</div>
	</section>
	<section class="contact" id="contact">
		<div class="us container">
			<h2 class="text-center text-white">Contact Us</h2>
			<div class="row justify-content-center">
				<div class="col-md-6 p-0">
					<form>
				<div class="form-group">
				    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Full Name">
				</div>
				<div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
				    <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
				    <textarea placeholder="Write a Message..." class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
				</div>
				<div class="btn-div">
				<button type="submit" class="btn form-btn">Submit</button>
			</div>
			</form>
				</div>
			</div>
		</div>
	</section>
	<footer style="height: 300px; background-color: #000;">
		djiwfnjn
	</footer>
	<footer class="foot">
		<div class="icons">
			<img class="lang" src="../static/svg/facebook.svg">
			<img class="lang" src="../static/svg/twitter.svg">
			<img class="lang" src="../static/svg/instagram.svg">
			<img class="lang" src="../static/svg/whatsapp.svg">
		</div>
		<p>Designed By <a href="#">Ibaakee Ledum</a> @ Froxine Agency</p>
	</footer>
	<script type="text/javascript">
		document.addEventListener(
			'DOMContentLoaded',
			function(){
				var icon = document.getElementById("tag");
				var close = document.getElementById("close");
				var drop = document.getElementById("drop");
				// var body = document.get
				icon.onclick = function(){
					drop.style = "top:0px;"
				}
				close.onclick = function(){
					drop.style = "top:-500px;"
				}
			}
		);
	</script>
</body>
</html>
