<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content= "width=device-width, initial-scale=1.0">
	<title>Web Agency</title>
	<link rel="stylesheet" href="../static/css/web.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>

	<header class="container-fluid start">
		<nav class="nav">
			<div class="logo"><h4>Cureator</h4></div>
			<ul class="list-wrapper">
				<li><a href="#container">Our Services</a></li>
				<li><a href="#pricing">What we Do</a></li>
				<li><a href="#contact">Contact Us</a></li>
				<li><a href="#contact">Case Study</a></li>
			</ul>
		</nav>
		<svg
   width="297mm"
   height="210mm"
   viewBox="0 0 297 210"
   version="1.1"
   id="svg8"
   preserveAspectRatio="none"
   >
  <g
     id="layer1"
     transform="translate(0,-87)">
    <path
       style="stroke:#fff;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M -2.7831325,305.60241 312.72289,306.61446 311.96385,204.90362 -8.6024094,299.78313 Z"
       id="path10">
  </g>
</svg>

		<div class="row make">
			<div class="container">
				<div class="row">
			<div class="col-md-6">
					<h1 class="header-text">
						We Strive to Achieve a lot of things
					</h1>
					<p>
						kojiwhgudjck2knkpfboih2bjb2vjbj2ebvkjeb2jbv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
					</p>
				</div>
				<div class="col-md-6">
					<h1 class="header-text">
						We Strive to Achieve a lot of things
					</h1>
					<p>
						kojiwhgudjck2knkpfboih2bjb2vjbj2ebvkjeb2jbv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
						2evojhjjb2jebvoj2ebov2beob2ovjb2jb2oejobojv
					</p>
				</div>
			</div>
			</div>
		</div>
	</header>
	<!-- <main>
		<section></section>
	</main> -->
</body>
</html>
