
body
{
	margin: 0;
	padding: 0;
	font-family: 'Slabo 27px', serif !important;
	color: #393e46;
	/*overflow-x: hidden;*/
}


.list{
	display: flex;
	flex-wrap: wrap;
}

/*.icon{
	display: block;
}*/

.close img{
	height: 30px;
	width: 30px;
	background-color: #000;
	float: right;
}

.list .row{
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
}

.list a{
	text-decoration: none !important;
	font-weight: bold;
}

.list .col-6{
	padding: 15px;
}


.drop{
	position: fixed;
	top: -500px;
	left: 0;
	transition: all 1s ease-in-out;
	z-index: 2000;
	background-color: #fff;
	box-shadow: 0px 3px 20px 2px rgba(0,0,0,0.28);
	display: flex;
	flex-direction: column;
	width: 100%;
}


h1, h2, h3,h4,h5,h6{
	font-family: 'Overpass', sans-serif !important;
	/*letter-spacing: 1px;*/
}


section.init{
	background: rgb(25,119,126);
	padding-bottom: 20px;
	position: relative;
	background: linear-gradient(77deg, rgba(25,119,126,1) 35%, rgba(26,30,45,1) 92%);
}

/* Header Styling */

header.start{
	color: white;
	font-size: 20px;
	/*position: absolute;*/
	/*height: 100%;*/
	z-index: 20000;
	display: flex;
	flex-direction: column;
	height: 100%;
}

header .landing{

	justify-content: center;
	align-items: center;
}


.image{
	/*padding-top: 20px;*/
	display: flex;
	height: 500px;
	align-items: center;
	justify-content: center;
}

.image img{
	width: 100%;
	height: 500px;
	max-width: 100%;
}

header .explana p{
	margin-top: 30px;
	margin-bottom: 30px;
}

@media screen and (min-width: 768px){
	section.init{
		/*height: 100vh;*/
	}
	.icon{
		display: none !important;
	}
}

@media screen and (max-width: 767px){
	/*section.init{
		height: 100vh;
	}*/
	.nav ul{
		display: none !important;
	}
}


@media screen and (max-width: 550px){
	.explana h1{
		font-size: 30px;
	}

	section.init{
		height: 90vh !important;
	}
/*	.image img{
	width: 500px;
	height: 300px;
	max-width: 100%;
}*/
	#button{
		text-align: center;
	}
	.nav ul{
		display: none !important;
	}
	.nav{
		padding: 10px !important;
		justify-content: space-between !important;
		align-items: center !important;
		height: 100px;
	}

	.cta{
		width: 100% !important;
	}
	.text-2 img{
		margin: 20px 0;
	}

	.explana p{
		font-size: 18px !important;
	}
	.icon{
		display: block !important;
	}
}


.cta{
	background-color: rgba(255,255,255,1);
	padding: 15px 35px 15px 35px !important;
	color: #000 !important;
	border-radius: 50px !important;
	width: 300px;
	margin-top: 10px;
	font-size: 20px !important;
	transition: all 1s ease-in-out;

}

.nav li:hover{
	opacity: 0.8;
}

.cta:hover, .nav li:hover{
	cursor: pointer;
}

.cta:hover{
	background-color: rgba(255,255,255,0.8);
}

.nav{
	padding: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav ul{
	display: inline-flex;
	margin: 0;
	padding: 0;
}

.nav li{
	list-style: none;
	padding-right: 35px;
}

.nav li a{
	text-decoration: none;
	color: inherit;
}


.nav h2{
		font-size: 1.5rem !important;
		margin: 0 !important;
	}

.call{
	padding-top: 50px;
}


/* Main content */

/*.content{
	height: 100vh;
}*/

.ini{
	margin-top: 5%;
	justify-content: center;
}

.work{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 3px 20px 2px rgba(0,0,0,0.28);
	padding: 10px;
	text-align: center;
	margin: 10px 0px 10px 0px;
	text-size-adjust: none;
}

.work h5{
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

.work p{
	line-height: 30px;
	font-size: 17px;
}

.work img{
	background: linear-gradient(77deg, rgba(25,119,126,1) 35%, rgba(26,30,45,1) 92%);
	width: 70px;
	height: 70px;
	border-radius: 100px;
	box-shadow: 0px 3px 20px 2px rgba(0,0,0,0.28);
	padding: 20px;
}

.head-text{
	text-align: center;
	font-weight: bold;
	margin-bottom: 15px;
}


.head-text hr{
	width: 15%;
	margin-top: 0;
	margin-bottom: 0;
	border: 2px solid #000;
	background: linear-gradient(77deg, rgba(25,119,126,1) 35%, rgba(26,30,45,1) 92%);
}

.head-text h3{
	font-weight: bold;
}


section.img-text{
	margin-top: 150px;
	padding-bottom: 15px;
	padding-top: 15px;
	/*height: 100vh;*/
}

.bg-image img{
	/*width: 100%;*/
	width: 500px;
	height: 100%;
	max-width: 100%;
}

.text h2{
	margin-top: 2.1rem !important;
	font-weight: bold;
}

.text p{
	font-size: 20px;
}

.text-2{
	margin-top: 100px;
}

.text-2 img{
	margin-top: 20px;
	height: 100%;
}





.cti{
	background-color: rgba(26,30,45,1);
	padding: 15px 35px 15px 35px !important;
	color: #eeeeee !important;
	/*border-radius: 50px !important;*/
	width: 300px;
	margin-top: 10px;
	font-size: 20px !important;
	transition: all 1s ease-in-out;
	max-width: 100%;

}

.cta:hover, .nav li:hover{
	cursor: pointer;
}

.cti:hover{
	background-color: rgba(26,30,45,0.9);
	/*border: 2px solid #fff;*/
	color: #fff !important;
}



section.contact{
	background: linear-gradient(77deg, rgba(25,119,126,1) 35%, rgba(26,30,45,1) 92%);

}


.contact .us{
	padding-top: 50px;
	font-size: 18px;
}


.details{
	background: rgb(25,119,126);
	color: #fff;
	padding: 10px;
}


.form{
	background-color: #fff;
	height: 100%;
	padding: 10px;
}

.icon img{
	width: 30px;
	height: 30px;
}


/* Contact Us*/
/*
input{
	border-radius: 30px !important;
}*/

input:focus,input:active,textarea:focus,textarea:active{
	box-shadow: none !important;
	border-color: green !important;
}

input:invalid{
	border-color: #C11 !important;
}

form{
	padding: 10px;
}


.form-group{
	margin: 1.5rem 0 !important;
}

.form-btn{
	background-color: rgba(26,30,45,1);
	color: white;
	transition: all 1s ease-in-out;
	padding: 10px 15px 10px 15px !important;
	font-size: 18px !important;
	max-width: 100%;
	border-radius: 100px !important;
	width: 200px;
}

.form-btn:hover{
	opacity: 0.9;
	/*background-color: #00dbe6;*/
	box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.28) !important;
}
.btn-div{
	text-align: center;
}


#emailHelp{
	color: #fff;
}


.foot{
	padding: 20px 0;
	background-color: #fff;
}

.foot p{
	text-align: center;
	color: #000;
	margin: 0;
	font-weight: bold;
	/*font-size: 18px;*/
}

.foot a{
	text-decoration: none !important;
}

.foot a:hover{
	opacity: 0.85;
}

.foot .icons{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.foot img{
	height: 20px;
	width: 20px;
	margin: 0 10px;
}


/*https://youtu.be/Umuf8-z5hjo*/









